<!DOCTYPE html>
<html>

<head>
	<title class="title">Pocket Guru</title>
	<!--bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<!-- css -->

	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Oxygen" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/model.js"></script>
</head>

<body class="index">
	{{{body}}}
</body>