<!DOCTYPE html>
<html lang="en">

<head>
	<title>Unfuck Yourself.</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Bootstap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
	<!-- Javascript -->
	<script src="/js/model.js"></script> {{!-- bootstrap version 4 --}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<<<<<<< HEAD <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Unfuck Your Life!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/cats.js"></script>
	</head>

	<body>
		{{{ body }}}
	</body>
	=======

	<body>
		{{{ body }}}
	</body>
	>>>>>>> 92c1f3a59065259d375bbc6951ac4484d80a7f7b

</html>