<body>
    <!-- Navigation Bar -->
    {{> navbar/navbar-block}}

    <div class="container-fluid">

        <div class="jumbotron text-center"  style="margin-top: 60px;">
            <h1 class="morning-tasks-title " id="title">Affirmations</h1>
            <p id="affirmations-description"> They can be used to wire your brain for success in all areas of your life.</p>
            <hr id="my-4">
            <p>Meet today with full presence and power by affirming your intentions and truths. Spend five minutes speaking
                aloud an affirmation in the category of your greatest need today.</p>
            <br>
        </div>

        <div class="row">
            <div class="btn-group btn-group-justified">
                <a href="#" id="success-btn" class="btn btn-primary">Success</a>
                <a href="#" id="wealth-btn" class="btn btn-primary">Wealth</a>
                <a href="#" id="health-btn" class="btn btn-primary">Health</a>
                <a href="#" id="love-btn" class="btn btn-primary">Love</a>
            </div>
            <div id="affirmations-view" >
                <!-- Affirmations displayed here on button click -->
            </div>
        </div>

    </div>

</body>