<body id="cover">

    <div class="container home">

        <div class="jumbotron">
            <h1 class="display-4" class="morning-tasks-title">Affirmations</h1>
            <h3 id="lead">Meet today with full presence and power by affirming your intentions and truths. Spend five minutes speaking
                aloud an affirmation in the category of your greatest need today.</h3>
            <hr id="my-4">
            <br>
            <p id="affirmations-description">Affirmations have the ability to program the mind into believing stated concepts, which can be powerful when
                thoughtfully applied! They can be used to wire your brain for success in all areas of your life.</p>
            <br>
            <p>
                <span id="affirmations-container">
                    <ul>
                        <li data-id="0">
                            <button id="success-btn">Success</button>
                        </li>
                        <li>
                            <button id="wealth-btn">Wealth</button>
                        </li>
                        <li>
                            <button id="health-btn">Health</button>
                        </li>
                        <li>
                            <button id="love-btn">Love</button>
                        </li>
                    </ul>

                </span>

            </p>
        </div>
    </div>

    <script src="js/affirmations.js"></script>
</body>