<body id="cover">
    <!-- Navigation Bar -->
    {{> navbar/navbar-block}}

    <div class="container home">

        <div class="jumbotron">
            <h1 class="display-4" class="morning-tasks-title">Affirmations</h1>
            <h3 id="lead">Meet today with full presence and power by affirming your intentions and truths. Spend five minutes speaking
                aloud an affirmation in the category of your greatest need today.</h3>
            <hr id="my-4">
            <br>
            <p id="affirmations-description">Affirmations have the ability to program the mind into believing stated concepts, which can be powerful when
                thoughtfully applied! They can be used to wire your brain for success in all areas of your life.</p>
            <br>

        </div>
        <div class="row">

            <div class="btn-group btn-group-justified">

                <a href="#" id="success-btn" class="btn btn-primary">Success</a>
                <a href="#" id="wealth-btn" class="btn btn-primary">Wealth</a>
                <a href="#" id="health-btn" class="btn btn-primary">Health</a>
                <a href="#" id="love-btn" class="btn btn-primary">Love</a>
            </div>

        </div>
        <div id="affirmations-view">
        </div>



    </div>
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text {{!--
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
    </footer>

</body>