<!DOCTYPE html>

<body id="cover">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4" id="morning-tasks-title">Affirmations</h1>
            <h3 id="lead">Meet today with full presence and power.</h3>
            <hr id="my-4">
            <br>
            <p id="affirmations-description">Affirmations can be powerful for an individual because they have the ability to program the mind into believing
                the stated concept.</p>
            <br>
            <p>
                <span id="affirmations-container"></span>

            </p>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../models/visualization.js"></script>