<body>
    <!-- Navigation Bar -->
    {{> navbar/navbar-block}}

    <div class="container-fluid">

        <div class="jumbotron text-center">

            <h1 id="hour-of-power" id="title">Morning Hour of Power</h1>

            <p>
                Use these exercises to meet each day with full presence and power!
            </p>

            {{!--
            <button type="button" class="btn btn-primary btn-lg">Back</button> --}}
        </div>
        <div class="row">


            {{!--
            <div class="col-6 text-center">
                <div class="w3-button w3-green w3-ripple" id="silence">
                    <H2>Meditation</h2>
                </div>
            </div> --}}
            <a class="col-6 text-center" href="/affirmations">
                <div class="w3-button" id="affirmations">
                    <h2>Affirmations</h2>
                </div>
            </a>
            {{!--
            <a class="col-6 text-center" href="/visualization">
                <div class="w3-button" id="visualization">
                    <h2>Visualization</h2>
                </div>
            </a> --}}
            <a class="col-6 text-center" href="/exercise">
                <div class="w3-button" id="exercise">
                    <h2>Exercise</h2>
                </div>
            </a>

            <a class="col-6 text-center" href="/book">
                <div class="w3-button" id="book">
                    <h2>Read</h2>
            </a>
            </div>
            {{!--
            <div class="col-6 text-center">
                <div class="w3-button" id="scribe">
                    <h2>Journal</h2>
                </div>
            </div> --}}

        </div>
    </div>


</body>