<!DOCTYPE html>
<html>

<head>
    <title class="title">Pocket Guru</title>
    <!--bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- css -->

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Oxygen" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/model.js"></script>
</head>

<body class="index">
    <div class="container">

        <div class="jumbotron">
            <h1 class="title text-center">POCKET GURU</h1>
            <h2 class="morning-tasks-title text-center">Exercise</h2>
            <p class="lead">
                Exercising is an integral part of the day to keep a healthy body and mind!
            </p>
            <div class "row">
                <div class="col-6 text-center">
                    <p id="points">Great job! So far, you have earned
                        <span class="well" id="sumdisplay"></span> points today!</p>
                </div>
                <div class="col-6 text-center">
                    <p>To get all of your exercise points, move your body for 20 minutes.</p>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p id="points">Great job! So far, you have earned
                    <span class="well" id="sumdisplay"></span> points today!</p>
                <p>To get all of your exercise points, move your body for 20 minutes.</p>

            </div> -->

        <!-- Tasks to do -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead">
                    <strong>Get Sweaty!</strong>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Exercise</th>
                                <!-- <th>Points</th>
                                    <th>Time</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {{#each tasks}} {{!-- {{#unless completed}} --}}
                            <tr>
                                <td>{{this.task_name}}</td>
                                <!-- <td>{{this.value}}</td>
                                    <td>{{this.estimated_time}}</td> -->
                                <td>
                                    <button type="button" class="complete btn btn-warning" id="complete" data-id="{{this.id}}" data-newCompleted="{{completed}}">
                                        <span class="fa fa-check"></span>
                                    </button>
                                </td>
                            </tr>
                            {{!-- {{/unless}} --}} {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-sm-9">
            <panel>
                <h2 id="color-override">Add a New Exercise Routine</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label for="newtask" id="color-override">New Activity:</label>
                        <input type="text" id="newtask" name="task_name">
                        <br> {{!--
                        <input type="hidden" type="text" id="category" value="Exercise">
                        <label for="value" id="color-override">Value:</label>
                        <input type="number" min="1" max="10" id="value" name="value">
                        <br>
                        <label for="time" id="color-override">Estimated Time: </label>
                        <input type="number" min="1" max="60" id="time" name="estimated_time">
                        <br> --}}
                        <button type="submit" class="btn btn-success" id="addtask">
                            <span class="fa fa-thumbs-up"></span>
                        </button>
                    </div>
                </form>
            </panel>
        </div>

        {{!--
        <div class="col-sm-3">
            <panel>
                <h3>Total Points</h3>
                <div class="well">
                    <!-- Value fetched from model.js document.ready function -->
                    <span id="sumdisplay"></span>
                </div>
            </panel>
        </div>

    </div>
    </div> --}}
    <!-- /jumbotron -->

    <!-- Completed Tasks -->
    {{!--
    <div class="col-sm-6">
        <div class="panel panel-default">

            <div class="panel-heading" id="righthead">
                <strong>Today's Achievements</strong>
            </div>

            <div class="panel-body">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Points</th>
                            <th>Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each tasks}} {{#if completed}}
                        <tr>
                            <td>{{this.task_name}}</td>
                            <td>{{this.value}}</td>
                            <td>{{this.estimated_time}}</td>
                            <td>
                                <button type="button" class="remove btn btn-danger" id="remove" data-id="{{this.id}}">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        {{/if}} {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    </div> --}}
    <!-- /row -->
    </div>
    <!-- /container -->
</body>

</html>