<h1>Unfuck Your Life!</h1>

<h2>Meet life with full presence and power!</h2>


<!-- enter on click -->
<h2>Let's begin your day with an hour of power!</h2>
<ul>
    <li>Meditation</li>
    <li>Affirmations</li>
    <li>Visualization</li>
    <li>Exercise</li>
    <li>Reading</li>
    <li>Journaling</li>
</ul>