<body>
    {{#each journal_entry}}
    <form>
        <label>Date: {{this.date}}</label>

        <label>Journal Entry: </label>
        <div>
            {{this.journal_entry}}
        </div>
    </form>
</body>