{{!-- \Project2\views\journalEntries.handlebars --}}

<body>
    {{#each journals}}
    <form>
        <label>Date: {{this.createdAt}}</label>

        <label>Journal Entry: </label>
        <div>
            {{this.title}} {{this.body}}
        </div>
    </form>
    {{/each}}
</body>