<body class="index">
    <div class="container home">


        <div class="jumbotron">
            <h1 class="title text-center">POCKET GURU</h1>
            <h2 class="morning-tasks-title text-center">Reading</h2>
            <p class="lead">
                Reading is an integral part of the day to keep a healthy body and mind!
            </p>
            <div class="row">
                <div class="col-6 text-center">
                    <p id="points">Great job! So far, you have earned
                        <span class="well" id="sumdisplay"></span> points today!</p>
                </div>
                <div class="col-6 text-center">
                    <p>To get all of your reading points, jump into a book for 20 minutes.</p>
                </div>
            </div>
        </div>



        <!-- Tasks to do -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead">
                    <strong>Boost that Brain!</strong>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Reading List</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each books}}{{#unless completed}}
                            <tr>
                                <td>{{this.book_title}}</td>

                                <td>
                                    <button type="button" class="complete btn btn-warning" id="complete" data-id="{{this.id}}" data-newCompleted="{{completed}}">
                                        <span class="fa fa-check"></span>
                                    </button>
                                </td>
                            </tr>
                            {{/unless}} {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-sm-9">
            <panel>
                <h2 id="color-override">Add a New Book</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label for="newbook" id="color-override">New Book:</label>
                        <input type="text" id="newbook" name="book_name">
                        <br>
                        <label for="newauthor" id="color-override">Author:</label>
                        <input type="text" id="newauthor" name="author_name">
                        <button type="submit" class="btn btn-success" id="addauthor">
                            <span class="fa fa-thumbs-up"></span>
                        </button>
                    </div>
                </form>
            </panel>
        </div>


        <!-- /row -->
    </div>
    <!-- /container -->
</body>