<!DOCTYPE html>
<html>

<head>
    <title>Pocket Guru</title>
</head>

<body >
    <div class ="container home">
        
        <div class="jumbotron">
            <h1 id="title"  class="text-center">Pocket Guru</h1>
            <hr id="my-4">
            <form id="signin" name="signin" method="post" action="signin">
                <label for="email" id="filler">Email Address</label>
                <input class="text" name="email" type="text" style="background-color: rgba(255, 255, 255);"/>
                <label for="password" id="filler">Password</label>
                <input name="password" type="password" style="background-color: rgba(255, 255, 255);"/>
                <input class="btn" type="submit" value="Sign In" id="signin-btn"/>
            </form>
            <br>
            <p><a href="/signup" >Create Account</a></p>

        </div>
    </div>
    
    <footer id="footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Guru Gangstahs {{!--
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
    </footer>

</body>

</html>