<!DOCTYPE html>
<html>

<head>
    <title>Pocket Guru</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="title">POCKET GURU</h1>
        <hr>
        <form id="signin" name="signin" method="post" action="signin">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign In" />
        </form>
    </div>

    <a href="/signup">Create Account</a>

</body>

</html>