<body id="cover">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4" id="visualization">Visualizations</h1>
            <p id="lead">Meet today with full presence and power.</p>
            <hr id="my-4">
            <br>

            <br>
            <p>
                <span id="vision-board-container"></span>
                {{!-- instagram API cache, vision board shit --}}
            </p>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../models/visualization.js"></script>