<body class="home">
    <!-- <div class="home"> -->
    <div class="container">
        <div class="jumbotron  text-center">
            <div class="stuff">
                <h1 class="title">Pocket Guru</h1>
                <p id="info">This app is designed to leverage the brain's natural ability to create new neutral networks in order to help you design a fulfilling life, and bring it to fruition. </p>


                <!-- <button type="button" class="btn btn-primary btn-md" style="background-color: #26a69a; border:0;">Tasks Completed</button>
                <button type="button" class="btn btn-primary btn-md" style="background-color: #26a69a; border:0;">Log Out</button> -->
                <div class="row" id="menuBtns">
            
                        <!-- cell 2 -->
                        <div class="col-md-3">
                            <a href="#">
                                <div id="morning">
                                    <h2>Morning</h2>
                                </div>
                            </a>
                        </div>
                        <!-- cell 5 -->
                        <!-- <div class="col-md-3">
                            <a herf ='#'>
                                <div id="daily">
                                    <h2 >Daily</h2>
                                </div>
                            </a>
                        </div> -->
                        
                        <!-- cell 8 -->
                        <!-- <div class="col-md-3">
                            <a herf ='#'>
                                <div id="evening">
                                    <h2>Evening</h2>
                                </div>
                            </a>
                        </div> -->
                    
                    </div>
                    
                </div>
            </div>
            <footer class="footer">
                        <div class="footer-copyright">
                            <div class="container">
                                © 2018 Guru Gangstahs
                                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                            </div>
                        </div>
             </footer>
        </div>
    </div>

    
</body>

