/* *****Navbar***** */
#navbar-logo {
    height: inherit;
    position: relative;
    bottom: 50%;
}

.home {
    background-image: url(mandala.png);
    background-position: center;
    background-repeat: no-repeat;
}

.index {
    background-image: url(mandalaTopHalf.png);
    left: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.work {
    background-image: url(mandalaBttmHalf.png);
    background-position: center;
}
#menuBtns{
    /* width: 600px; */
    /* padding:zero; */
    /* position: center; */
    /* float:right; */
    /* margin-bottom:20px; */
}

.jumbotron {
    background-color: rgba(0, 255, 255, 0.303);
}

.stuff {
    position: center;
}

h1,
h2,
.title {
    font-family: 'Berkshire Swash', cursive;
    font-color: rgba(0, 255, 255, 0.261);
}
h3,
#info {
    font-family: 'Oxygen', sans-serif;
}

#hour-of-power {}

#lead {
    font-size: 14px;
    font-color: rgba(0, 255, 255, 0.261);
}

#title {
    font-family: 'Berkshire Swash', cursive;
    font-color: rgba(0, 255, 255, 0.261);
}

#footer {
    width: 100%;
    background-color:  rgba(0, 255, 255, 0.501);
    left: 0;
    margin-top: 25px;
    position: fixed;
}

/* #silence{}
#affirmations{} */

/* #visualization{} */

/* #exercise{} */

/* #read{} */

/* #scriber{} */


#morning-tasks-title {}

#vision-board-container {}

#affirmations-container {}

#lead {}

#affirmations-description {}