<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="position: fixed; top: 0px; z-index: 5;">
  	<div class="container-fluid">
    	<div class="navbar-header">
			
      		<a class="navbar-brand" id="title" alt="Home" style="font-size:35px"href="/">
			 	Pocket Guru
                {{!-- <img id="navbar-logo"  src="assets\images\mandala3.png" style="height:inherit; position:relative; bottom:50%"> --}}
            </a>
			
    	</div>
		<ul class="nav navbar-nav">
			
			
			<li><a href="/affirmations" id="filler">Affirmations</a></li>
			<li><a href="/exercise" id="filler">Exercise</a></li>
			<li><a href="/book" id="filler">Read</a></li>
		</ul>
		
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="username" id="filler"></a></li>
            <li><a href="/logout" id="filler"><span class="fa fa-sign-out"></span> Sign Out</a></li>
        </ul>
  	</div>
</nav>