<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="position: fixed; top: 0px; z-index: 5;">
	<div class="container-fluid">
		<div class="navbar-header">

			<a class="navbar-brand" href="/">
				<img id="navbar-logo" alt="Home" src="assets\images\mandala.png" style="height:inherit; position:relative; bottom:50%">
			</a>

		</div>
		<ul class="nav navbar-nav">
			<li>
				<a id="title" style="font-size:35px">Pocket Guru</a>
			</li>
			<li>
				<a href="/book" id="filler">Books</a>
			</li>
			<li>
				<a href="/exercise" id="filler">Exercise</a>
			</li>
			<li>
				<a href="/affirmations" id="filler">Affirmations</a>
			</li>
			<li>
				{{!--
				<a href="/visualization" id="filler">Visualization</a>
			</li>
			<li>
				<a href="/meditation" id="filler">Meditation</a>
			</li>
			<li>
				<a href="/journaling" id="filler">Journaling</a>
			</li> --}}

		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="" class="username" id="filler"></a>
			</li>
			<li>
				<a href="/logout" id="filler">
					<span class="fa fa-sign-out"></span> Sign Out</a>
			</li>
		</ul>
	</div>
</nav>