<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="position: fixed; top: 0px; width: 100%; z-index: 5;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="title" alt="Home" style="font-size: 35px" href="/">
				Pocket Guru
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li>
					<a href="/affirmations" id="filler">Affirmations</a>
				</li>
				<li>
					<a href="/exercise" id="filler">Exercise</a>
				</li>
				<li>
					<a href="/book" id="filler">Read</a>
				</li>
				<li>
					<a href="/visualization" id="filler">Visualization</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- Name looks silly on a drop-down -->
				<!-- <li><a href="" class="username" id="filler"></a></li> -->
				<li>
					<a href="/logout" id="filler">
						<span class="fa fa-sign-out"></span> Sign Out
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>