/* .grid-container {
    background-image: url();
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: rgb(197, 229, 255); 
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px outset rgba(145, 145, 145, s0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */

.home {
    background-image: url(mandala.png);
    background-position: center;
    /* background-size: ; */
    background-repeat: no-repeat;
}

.index {
    background-image: url(mandalaTopHalf.png);
    left: 100px;
    /* background-size: ; */
    background-repeat: no-repeat;
}

.login {
    background-image: url(mandalaBttmHalf.png);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Berkshire Swash', cursive;
}

#title {
    font-family: 'Berkshire Swash', cursive;
    font-color: rgba(0, 255, 255, 0.261);
}

.title {
    font-family: 'Berkshire Swash', cursive;
    font-color: rgba(0, 255, 255, 0.261);
}

#info {}

#hour-of-power {}

#lead {
    font-size: 14px;
    font-color: rgba(0, 255, 255, 0.261);
}

p {
    font-family: 'Oxygen', sans-serif;
}

.stuff {
    position: center;
}

#footer {
    width: 100%;
    background-color: #26a69a;
    left: 0;
    margin-top: 25px;
    position: absolute;
}

/* #silence{
    /* width: 180px;
    height:100px;
    padding-left: 100px;
    padding-top: 20px; */

/* }
#affirmations{
  
} */

/* #visualization{
     width: 180px;
    height:100px;
    padding-left: 100px;
    padding-top: 20px; 
} */

/* #exercise{
    
} */

/* #read{
     width: 180px;
    height:100px;
    padding-left: 100px;
    padding-top: 20px; 
} */

/* #scriber{ 

} */

/* needs to be at the bottom of css pg*/

/* need to link colors to btns */

/* home pg */

#morning:hover {
    background-image: none;
    background-color: #fff700;
}

#daily:hover {
    background-image: none;
    background-color: #ffa600;
}

#evening:hover {
    background-image: none;
    background-color: #ff0000;
}

/* index pg */

#silence:hover {
    background-image: none;
    background-color: #a200ff;
}

#affirmations:hover {
    background-image: none;
    background-color: #0011ff;
}

#visualization:hover {
    background-image: none;
    background-color: #5aafff;
}

#exercise:hover {
    background-image: none;
    background-color: #5bbd4e;
}

#read:hover {
    background-image: none;
    background-color: #fff700;
}

#scribe:hover {
    background-image: none;
    background-color: #ff8400;
}

#morning-tasks-title {}

#vision-board-container {
    height: 500px;
    width: auto;
}

#affirmations-container {}

#lead {}

#affirmations-description {}

#title {}

#signup {
    margin-bottom: 20px;
}

#contactform li {
    margin-bottom: 10px;
    list-style: none;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #4aaaaf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #cccccc;
}