/* *****Navbar***** */

#navbar-logo {
    height: inherit;
    position: relative;
    bottom: 50%;
}

#signin-btn,
#signup-btn {
    background-color: rgba(53, 162, 160);
    margin-top: 15px;
    padding: 5px;
    color: rgb(255, 255, 255);
    width: initial;
}

/* 
.home {
    background-image: url(../images/mandala.png);
    background-position: center;
    background-repeat: no-repeat;
} */

.index {
    background-image: url(../images/mandalaTopHalf.png);
    left: 100px;
    background-repeat: no-repeat;
    background-position: top;
}

/* .work {
    background-image: url(../images/mandalaBttmHalf.png);
    background-position: center;
} */

#menuBtns {
    /* width: 600px; */
    /* padding:zero; */
    /* position: center; */
    /* float:right; */
    /* margin-bottom:20px; */
}

.jumbotron {
    background-color: rgba(0, 255, 255, 0.303);
}

.stuff {
    position: center;
}

strong {
    font-family: 'Oxygen', sans-serif;
    color: rgb(0, 6, 175);
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(0, 255, 255);
}

.vbimgs {
    width: 300px;
}

h3,
p,
th,
#info {
    font-family: 'Oxygen', sans-serif;
    color: rgb(68, 75, 102);
}

#lefthead,
#righthead,
#centerhead,
#pointshead {
    background-color: rgba(0, 255, 255, 0.303);
    text-align: center;
    font-size: 1.2em;
}

#box {
    background-color: rgba(249, 249, 249, 0);
}

#lead {
    font-size: 14px;
    color: rgba(0, 255, 255, 0.364);
}

#affirmations-view {
    border-bottom: 6px solid rgb(58, 86, 196);
    background-color: rgba(211, 211, 211, 0.556);
    text-align: center;
    font-size: 2.5em;
    font-family: 'Courgette', cursive;
}

h1,
h2,
#title {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(1, 31, 122);
    /* color: rgb(167, 167, 167); */
}

#filler {
    color: rgb(0, 6, 175);
}

#footer {
    height: 50px;
    width: 100%;
    color: rgba(211, 211, 211, 0.556);
    background-color: rgb(53, 162, 160);
    left: 0;
    margin-top: 25px;
    position: fixed;
    bottom: 0px;
}

textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(249, 255, 189, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input {
    -webkit-appearance: textfield;
    background-color: rgba(255, 255, 255, 0.008);
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    width: 100%;
}